@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600&display=swap');


:root{
    --color1:#ddf9fb;
    --color2:rgb(255, 158, 2);
    --colorText: rgb(64, 64, 64);
    --colorNeutroClaro:#fff;
    --colorNeutroOscuro:#000;
    --colorGris:#F0F0F0;
    --colorClaroOpacidad:rgba(255, 255, 255, 0.5);
    --colorDrgradadoBackG:linear-gradient(to bottom, #0666865a,  #000000a3);
    --img1BackG:url("../img/pexels-johnmark-smith-281962.jpg");
    --img2BackG:url("../img/pexels-polina-tankilevitch-4440800.jpg");
    --img3BackG:url("../img/pexels-sheila-731217.jpg");
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



body{
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
}




/* INICIO NAVBAR */
nav{
    background-color: var(--color1);
    height: 80px;
    color:var(--colorNeutroClaro);
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;


}
.nav__container{
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    
}

.nav__logoImg{
    max-width: 120px;
    height: auto;
}

.nav__label, .nav__input{
    display: none;
}

.nav__menu{
    display: grid;
    grid-auto-flow: column;
    gap:3em;
}

.nav__item{
    color: var(--colorText);
    text-decoration: none;
    --clippy:polygon(50% 1%, 50% 1%, 50% 100%, 50% 100%);
    
    


}

.nav__item::after{
    content: "";
    display: block;
    background: var(--colorText);
    width: 100%;
    margin-block-start: 3px;
    height: 2px;
    clip-path: var(--clippy);
    transition: clip-path 0.3s;

}

.nav__item:hover{
    --clippy:polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

@media (max-width : 700px){
    .nav__label{
        display: block;
        cursor: pointer;
    }

    .nav__menu{
        position: fixed;
        top: 80px;
        bottom: 0;
        background: var(--color2);
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: clip-path .5s ease-in-out;
        z-index: 99;
    }

    .nav__input:checked + .nav__menu{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

/* FIN NAVBAR */










/* INICIO PAGINA INDEX */

/* Banner Carrousel */

.slider__container{

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
}

.slider img{
    
    max-width: 100%;
}

.slider{
    position: relative;
    max-width: 1200px;
    width: 100%;
  /*   border-radius: 1rem; */
    overflow: hidden;
    max-height: 500px;
}

.slider__images{
    display: flex   ;
    transform: translate3d(0, 0, 0);
    transition: all 300ms;
    animation-name: autoplay ;
    animation-duration:  12s ;
    animation-direction: alternate;
    animation-fill-mode: forwards   ;
    animation-iteration-count: infinite;
}


.slider__containerImg{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.slider__selector{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex   ;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.slider__selectorItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px var(--colorNeutroClaro) solid;
    width: 1em;
    height: 1em;
    border-radius: 0.2rem;
    overflow: hidden;
    cursor: pointer;
    background: var(--colorClaroOpacidad);
    margin: 0 8px;
    text-align: center;
    transition: all 300ms;
}

.slider__selectorItem:hover{
    transform: scale(2);
}

.slider__selector img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

.slider__selector img:hover{
    opacity: 1;
    transform: scale(1);
}


input[id="1"]:checked ~ .slider__images{
    animation: none;
    transform: translate3d(0, 0, 0);
}

input[id="1"]:checked ~  .slider__selector .slider__selectorItem[for="1"]{
    background: var(--colorNeutroClaro);
}


input[id="2"]:checked ~ .slider__images{
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2"]:checked ~  .slider__selector .slider__selectorItem[for="2"]{
    background: var(--colorNeutroClaro);
}

input[id="3"]:checked ~ .slider__images{
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked ~  .slider__selector .slider__selectorItem[for="3"]{
    background: var(--colorNeutroClaro);
}


@keyframes autoplay{
    0%{
        transform: translate3d(calc(-100% * 0), 0, 0);
        
    }
    30%{
        transform: translate3d(calc(-100% * 0), 0, 0);
    }

    33%{
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
    63%{
        transform: translate3d(calc(-100% * 1), 0, 0);
    }

    66%{
        transform: translate3d(calc(-100% * 2), 0, 0);
    }

    100%{
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
}











/* CARDS */


.cards{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(328px , 1fr));
    padding: 40px 0px;
    gap:2em;
    
}

.card{
    display: flex;
    flex-direction: column;
    
}

.card__container{ 
    width: 100%;
    height: 100%;
    border-radius: 1em;
    overflow: hidden;
    background-size:cover;
    background-position: center bottom;
    

}
.container1{
    background-image: var(--img1BackG);
}

.container2{
    background-image: var(--img2BackG); 
}

.container3{
    background-image: var(--img3BackG); 
}

.card__content{
    width: 100%;
    padding-bottom: 2.5em;
    border-radius: 1em;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    color: var(--colorNeutroClaro);
    align-items: center;
    text-align: center;
    padding: 24px;
    gap: 24px;
    background: var(--colorDrgradadoBackG);
    
}

.card__botton{
    margin-inline-start: 1em;
    background-color: var(--color2);
    color: var(--colorNeutroClaro);
    text-decoration: none;
    padding: 1em 3em;
    width: auto;
    text-align: center;
    margin: 0 auto;
    margin-top: auto;
    border-radius: 0.5em;
}

.card__icon{
     height: 50px;
}

.card__texts{   
    margin: 24px;
}








/* Buscador */


.buscador__container{
    margin: 0px auto ;
    margin-block-start: 40PX;
    width: 400px;
    height: 48px;
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    
    
}

.buscador__img{
    background: var(--colorGris);
    border-radius: 50px 0px 0px 50px;
    height: 48px; 
   
}

.buscador__icono{
max-width: 28px;
margin-inline-start: 8px;
margin-block-start: 10px;

}

.buscador__input{
    background: var(--colorGris);
    min-height: 48px; 

}
.buscador__input input{
    background: transparent;
    min-height: 48px; 
    border: none;
    font-size: var(--h3);
    width: 100%;

} 

.buscador__button{
    height: 48px;
    border: none;
    background-color: var(--color2);
    border-radius: 0px 50px 50px 0px;
    font-size: var(--h3);
    color: var(--colorNeutroClaro);
    
}





/* Banner2 */


.banner2{
    
    display:grid;
    grid-template-columns: 2fr 2fr;
    justify-content: center;
    background:var(--color1);
    color: var(--colorText);
    
    
 }


.banner2__img{
    width: 100%;
    height: 100%;
    
    

}

.banner__text{
    max-width: 90%;
    align-self: center;
    margin-inline-start: 10%;
    margin-inline-end: 15%;

}

/* FIN PAGINA INDEX. */








/* INICIO FOOTER */

.footer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(200px , 1fr));
    gap:24px;


    background-color: #ddf9fb;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
    margin-block-start: 40px;
    
}
.footer .footer__logo .logo__img{
    max-width: 120px;
    height: auto;
    
}
.footer__infoContact .infoContact__list li{
    font-size: 1em;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    color: #313131;
}
.footer__infoContact .infoContact__list img{
   
    width: 24px;
    margin: 0px 16px ;
    align-content: center;
}


/* FIN FOOTER */








/* INICIO PAGINA RECOGER */

.datosRecoger{
    width: 100%;
    margin: 40px 0px;
    justify-items: center;
    
 
}

.datosRecoger__titulo{
    width: 90%;
    height: 40px;
    margin: 0 auto;
    box-shadow: 3px 3px 4px rgba(147, 147, 147, 0.4);
    background: var(--color1); 
    color: var(--colorNeutroClaro);
    font-size: 1.5em;
    padding-left: 5%;

}

.datos__container{

    width: 90%;
    margin: 0 auto;
    box-shadow: 3px 3px 4px rgba(147, 147, 147, 0.4);
    background: var(--colorGris); 
    
   
    
}

.datos{
    width: 90%;
    
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(200px , 1fr));
    padding: 24px 0px;
    gap:2em;

}


.datos div{
    
    display: flex;
    flex-direction: column;
    
}

.datos input {

    margin-block-start: 8px;
    min-height: 40px;
    max-height: 40px;
    border-radius: .2rem;
    border: none;
}

.datos label{
    
    width: 100% ;
    margin-inline-end: 32px;
}


.datos__tipoPago{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
}

.datos__tipoPago div{
    margin: 8px;
}


.datos__tipoPago label{
    display: inline-block;
    width: 160px;
   
}


/* FIN PAGINA RECOGER */













.section__buscador{
    
    width: 800px;
    height: 300px;
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 0px, rgba(0,0,0,0.1) 0px 0px 8px, rgba(255, 255, 255, 0.5) 0px 0px 0px , rgba(0,0,0,0.1) 0px 0px 0px ;
    border-radius: 20px;
    margin: 80px 340px;
    background-color: #ffffff;
    position: relative;
}

.section__buscador .buscador__h1{
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    border: none;
    background: transparent;
    color: #6a6a6a;
    text-align: center;
    top: 40px;
    left: 33%;
    right: 33%;
    display: inline-block;
    position: absolute;
}


.section__buscador form .section__numeroGuia{
    display: flex;
    background: #ffffff;
    border-radius: 30px;
    border: 1px solid #afafaf ;
    box-shadow: rgba(255, 255, 255, 0.5) -8px -8px 10px, rgba(0,0,0,0.1) 5px 5px 5px, rgba(255, 255, 255, 0.5) -8px -8px 10px inset, rgba(0,0,0,0.1) 5px 5px 5px inset;
    width: 588px;
    height: 48px;
    position: relative;
    top: 120px;
    left: 102px;
}

.section__numeroGuia input{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    border: none;
    background: transparent;
    color: #6a6a6a;
    font-weight: 300;
    width: 380px; 
    position: absolute;
    left: 80px;
    top: 12px;
}

.lupa{
    position: absolute;
    left: 24px;
    top: 4px;
}

.section__button{
    padding: 10px 24px;
    background-color:rgb(72, 198, 212) ;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color:#ffffff;
    position: absolute;
    top: 200px;
    left: 45%;
    box-shadow:rgba(255, 255, 255, 0.5) -8px -8px 10px, rgba(0,0,0,0.1) 5px 5px 5px, rgba(255, 255, 255, 0.5) -8px -8px 10px inset, rgba(0,0,0,0.1) 5px 5px 5px inset;
    transition: all 0.3s ease 0s;
    
}

.section__button:hover{
    background-color:rgba(72, 198, 212, 0.7) ;
    color: #6a6a6a;
}













.section__opcionEnvio{

    position: relative;
    width: 996px;
    height: 139px;
    left: 222px;
    top: 24px;

    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

}
.section__opcionEnvio .opcionEnvio__documentos{
    position: absolute;
    width: 277px;
    height: 70px;
    top:34px;
    left: 204px;
    background: #ffffff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
   
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;  
    color: #313131; 
    
}   
.section__opcionEnvio .opcionEnvio__paquetes{
    position: absolute;
    width: 277px;
    height: 70px;
    top:34px;
    left: 510px;
    background: #ffffff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    color: #313131; 
}   


.section__cotizarEnvio{
    position: relative;
    width: 996px;
    height: 800px;
    left: 222px;
    top: 40px;

    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.cotizarEnvio__origenDestino{
    display: flex;
    position: absolute;
    width: 786px;
    height: 84px;
    left: 102px;
    top: 60px;
    
   

}
.cotizarEnvio__origen{
    position: relative;
    left: 102px;
}
.cotizarEnvio__origen h3{
    margin-bottom: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #313131; 
    
}
.origen__input{
    position: absolute;
    width: 250px;
    height: 40px;
    background: #F0F0F0;
    border-radius: 85px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    color: #313131; 
    text-indent: 24px;
    left: 0%;

}


.cotizarEnvio__destino{
    position: relative;
    left: 270px;
}
.cotizarEnvio__destino h3{
    margin-bottom: 8px;
    
    font-weight: 500;
    font-size: 20px;
    color: #313131; 

}
.destino__input{
    position: absolute;
    width: 250px;
    height: 40px;
    background: #F0F0F0;
    border-radius: 85px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    color: #313131; 
    text-indent: 24px;
    left: 0%;

}



.formaPago{
    position:absolute;
    
    font-size: 18px;
    font-weight: 300;
    color: #313131; 
    left: 202px;
    top: 184px;
}
.formaPago h3{
    font-size: 20px;
    font-weight: 400;
}
.formaPago input{
    margin-right: 32px;
    margin-top: 16px;

}



.peso{
    position:absolute;
    
    color: #313131; 
    left: 202px;
    top: 290px;
}
.peso__titulo{
    margin-bottom: 8px;
    
    font-weight: 500;
    font-size: 20px;
    color: #313131;
}
.peso__input{
    margin-top: 8px;
    display: flex;
    align-items: center;
}
.peso__input input{
    margin-right: 24px;
    font-size: 16px;
    border-radius: 50px;
    border: none ;
    width: 250px;
    height: 40px;
    background: #F0F0F0;
    text-indent: 24px;

}
.peso__unidadMedida{
    
    font-size: 24px;
    color: #313131;
}



.valDeclara{
    position:absolute;
   
    color: #313131; 
    left: 202px;
    top: 410px;
}
.valDeclara__titulo{
    margin-bottom: 8px;
   
    font-weight: 500;
    font-size: 20px;
    color: #313131;
}
.valDeclara__input{
    margin-top: 8px;
    display: flex;
    align-items: center;
}
.valDeclara__input input{
    margin-right: 24px;
    font-size: 16px;
    border-radius: 50px;
    border: none ;
    width: 250px;
    height: 40px;
    background: #F0F0F0;
    text-indent: 24px;

}



.declarar{
    position:absolute;
    
    color: #313131; 
    left: 202px;
    top: 530px;
    display: flex;
    align-items: center;
}
.declarar p{
    margin-right: 24px;
}
.declarar p a{
    font-size: 16px;
    text-transform: uppercase;
}



.calcular{
    position:absolute;
    
    color: #313131; 
    left: 202px;
    top: 620px;
    align-items: center;
    
}
.calcular__button{
    background-color: #50ccd7;
    border: none;
    border-radius: 50px;
    padding: 8px 16px;
    color: #ffffff;
    transition: all 0,3s ease 0;
    display: block;
}
.calcular__button:hover{
    background-color:rgba(72, 198, 212, 0.7) ;
    color: #6a6a6a;
}
.calcular__precio{
    background-color: #6a6a6a;
    margin-right: 24px;
    font-size: 16px;
    border-radius: 50px;
    border: none ;
    width: 177px;
    height: 40px;
    background: #d1d0d0;
    text-indent: 24px;
    margin-top: 16px;
    
}







