
$color1:#ddf9fb;
$color2:rgb(255, 158, 2);
$colorText: rgb(64, 64, 64);
$colorNeutroClaro:#fff;
$colorNeutroOscuro:#000;
$colorGris:#F0F0F0;
$colorClaroOpacidad:rgba(255, 255, 255, 0.5);
$colorDrgradadoBackG:linear-gradient(to bottom, #0666865a,  #000000a3);


$img1BackG:url("../img/pexels-johnmark-smith-281962.jpg");
$img2BackG:url("../img/pexels-polina-tankilevitch-4440800.jpg");
$img3BackG:url("../img/pexels-sheila-731217.jpg");


$font1: "Poppins", sans-serif;

@mixin parrafos {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    justify-content: space-evenly;
    gap: 40px;
    margin-block-end: 24px;
}