* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 1.6rem;
}

/* INICIO NAVBAR */
.nav {
  background-color: #ddf9fb;
  height: 80px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.nav__container {
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.nav__container .nav__logoImg {
  max-width: 120px;
  height: auto;
}
.nav__input, .nav__label {
  display: none;
}
.nav__menu {
  display: grid;
  grid-auto-flow: column;
  gap: 3em;
}
.nav__menu a {
  color: rgb(64, 64, 64);
  text-decoration: none;
}

@media (max-width: 700px) {
  .nav__label {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    top: 80px;
    bottom: 0;
    background: rgb(255, 158, 2);
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: -webkit-clip-path 0.5s ease-in-out;
    transition: clip-path 0.5s ease-in-out;
    transition: clip-path 0.5s ease-in-out, -webkit-clip-path 0.5s ease-in-out;
    z-index: 99;
  }
  .nav__input:checked + .nav__menu {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .nav__input:checked + .nav__menu a {
    color: #fff;
    font-size: 2rem;
  }
}
.footer {
  width: 100%;
  display: grid;
  max-height: auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 24px;
  background-color: #ddf9fb;
  justify-content: space-between;
  padding: 16px;
  align-items: center;
  -webkit-margin-before: 40px;
          margin-block-start: 40px;
}
.footer .logo__img {
  max-width: 120px;
  height: auto;
}
.footer .infoContact__list li {
  font-size: 1em;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
  color: #313131;
}
.footer .infoContact__list img {
  width: 24px;
  margin: 0px 16px;
  align-content: center;
}

/* INICIO PAGINA INDEX */
/* Buscador */
.buscador__container {
  margin: 0px auto;
  -webkit-margin-before: 40PX;
          margin-block-start: 40PX;
  min-width: 300px;
  max-width: 500px;
  height: 48px;
  display: grid;
  grid-template-columns: 1fr 5fr 2fr;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.buscador__container .buscador__img {
  background: #F0F0F0;
  border-radius: 50px 0px 0px 50px;
  height: 48px;
}
.buscador__container .buscador__input {
  background: #F0F0F0;
  min-height: 48px;
}
.buscador__container .buscador__input input, .buscador__container .buscador__input main .contacto .remitente .datos1 textarea, main .contacto .remitente .datos1 .buscador__container .buscador__input textarea {
  background: transparent;
  min-height: 48px;
  border: none;
  width: 100%;
}
.buscador__container .buscador__button {
  height: 48px;
  border: none;
  background-color: rgb(255, 158, 2);
  border-radius: 0px 50px 50px 0px;
  font-size: 16px;
  color: #fff;
}

/* Banner Carrousel */
.slider__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
}
.slider__container .slider {
  position: relative;
  max-width: 1200px;
  width: 100%;
  /*   border-radius: 1rem; */
  overflow: hidden;
  max-height: 500px;
}
.slider__container .slider img {
  max-width: 100%;
}
.slider__container .slider .slider__images {
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: all 300ms;
  -webkit-animation-name: autoplay;
          animation-name: autoplay;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.slider__container .slider .slider__images .slider__containerImg {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 100%;
}
.slider__container .slider .slider__selector {
  position: absolute;
  bottom: 20px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.slider__container .slider .slider__selector .slider__selectorItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px #fff solid;
  width: 1em;
  height: 1em;
  border-radius: 0.2rem;
  overflow: hidden;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 8px;
  text-align: center;
  transition: all 300ms;
}
.slider__container .slider .slider__selector .slider__selectorItem:hover {
  transform: scale(2);
}
.slider__container .slider .slider__selector .slider__selector img {
  display: inline-block;
  max-width: none;
  height: 100%;
  transform: scale(1);
  opacity: 0;
  transition: all 300ms;
}
.slider__container .slider .slider__selector .slider__selector img:hover {
  opacity: 1;
  transform: scale(1);
}
.slider__container input[id="1"]:checked ~ .slider__images, .slider__container main .contacto .remitente .datos1 textarea[id="1"]:checked ~ .slider__images, main .contacto .remitente .datos1 .slider__container textarea[id="1"]:checked ~ .slider__images {
  -webkit-animation: none;
          animation: none;
  transform: translate3d(0, 0, 0);
}
.slider__container input[id="1"]:checked ~ .slider__selector .slider__selectorItem[for="1"], .slider__container main .contacto .remitente .datos1 textarea[id="1"]:checked ~ .slider__selector .slider__selectorItem[for="1"], main .contacto .remitente .datos1 .slider__container textarea[id="1"]:checked ~ .slider__selector .slider__selectorItem[for="1"] {
  background: #fff;
}
.slider__container input[id="2"]:checked ~ .slider__images, .slider__container main .contacto .remitente .datos1 textarea[id="2"]:checked ~ .slider__images, main .contacto .remitente .datos1 .slider__container textarea[id="2"]:checked ~ .slider__images {
  -webkit-animation: none;
          animation: none;
  transform: translate3d(-100%, 0, 0);
}
.slider__container input[id="2"]:checked ~ .slider__selector .slider__selectorItem[for="2"], .slider__container main .contacto .remitente .datos1 textarea[id="2"]:checked ~ .slider__selector .slider__selectorItem[for="2"], main .contacto .remitente .datos1 .slider__container textarea[id="2"]:checked ~ .slider__selector .slider__selectorItem[for="2"] {
  background: #fff;
}
.slider__container input[id="3"]:checked ~ .slider__images, .slider__container main .contacto .remitente .datos1 textarea[id="3"]:checked ~ .slider__images, main .contacto .remitente .datos1 .slider__container textarea[id="3"]:checked ~ .slider__images {
  -webkit-animation: none;
          animation: none;
  transform: translate3d(-200%, 0, 0);
}
.slider__container input[id="3"]:checked ~ .slider__selector .slider__selectorItem[for="3"], .slider__container main .contacto .remitente .datos1 textarea[id="3"]:checked ~ .slider__selector .slider__selectorItem[for="3"], main .contacto .remitente .datos1 .slider__container textarea[id="3"]:checked ~ .slider__selector .slider__selectorItem[for="3"] {
  background: #fff;
}
@-webkit-keyframes autoplay {
  0% {
    transform: translate3d(0%, 0, 0);
  }
  30% {
    transform: translate3d(0%, 0, 0);
  }
  33% {
    transform: translate3d(-100%, 0, 0);
  }
  63% {
    transform: translate3d(-100%, 0, 0);
  }
  66% {
    transform: translate3d(-200%, 0, 0);
  }
  100% {
    transform: translate3d(-200%, 0, 0);
  }
}
@keyframes autoplay {
  0% {
    transform: translate3d(0%, 0, 0);
  }
  30% {
    transform: translate3d(0%, 0, 0);
  }
  33% {
    transform: translate3d(-100%, 0, 0);
  }
  63% {
    transform: translate3d(-100%, 0, 0);
  }
  66% {
    transform: translate3d(-200%, 0, 0);
  }
  100% {
    transform: translate3d(-200%, 0, 0);
  }
}

/* CARDS */
.cards {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(328px, 1fr));
  padding: 40px 0px;
  gap: 2em;
}
.cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards .card__container {
  width: 100%;
  height: 100%;
  border-radius: 1em;
  overflow: hidden;
  background-size: cover;
  background-position: center bottom;
}
.cards .card .container1 {
  background-image: url("../img/pexels-johnmark-smith-281962.jpg");
}
.cards .card .container2 {
  background-image: url("../img/pexels-polina-tankilevitch-4440800.jpg");
}
.cards .card .container3 {
  background-image: url("../img/pexels-sheila-731217.jpg");
}
.cards .card .card__content {
  width: 100%;
  padding-bottom: 2.5em;
  border-radius: 1em;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
  text-align: center;
  gap: 16px;
  background: linear-gradient(to bottom, rgba(6, 102, 134, 0.3529411765), rgba(0, 0, 0, 0.6392156863));
}
.cards .card .card__content .card__botton {
  -webkit-margin-start: 1em;
          margin-inline-start: 1em;
  background-color: rgb(255, 158, 2);
  color: #fff;
  text-decoration: none;
  padding: 1em 3em;
  width: auto;
  text-align: center;
  margin: 0 auto;
  margin-top: auto;
  border-radius: 0.5em;
}
.cards .card .card__content .card__icon {
  height: 50px;
  margin: 16px 0;
}
.cards .card .card__content .card__texts {
  padding: 16px;
}

/* Banner2 */
.banner2 {
  display: grid;
  grid-template-columns: 2fr 2fr;
  justify-content: center;
  background: #ddf9fb;
  color: rgb(64, 64, 64);
}
.banner2__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner2 .banner__text {
  max-width: 90%;
  align-self: center;
  -webkit-margin-start: 10%;
          margin-inline-start: 10%;
  -webkit-margin-end: 15%;
          margin-inline-end: 15%;
}

/* FIN PAGINA INDEX. */
.main__rastrear {
  height: 100vh;
}

/* INICIO PAGINA RECOGER */
.datosRecoger {
  width: 100%;
  margin: 40px 0px;
  justify-items: center;
}
.datosRecoger__titulo {
  width: 90%;
  height: 40px;
  margin: 0 auto;
  box-shadow: 3px 3px 4px rgba(147, 147, 147, 0.4);
  background: #ddf9fb;
  color: #fff;
  font-size: 1.5em;
  padding-left: 16px;
}
.datosRecoger .datos__container {
  width: 90%;
  margin: 0 auto;
  box-shadow: 3px 3px 4px rgba(147, 147, 147, 0.4);
  background: #F0F0F0;
}
.datosRecoger .datos__container .datos {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  padding: 24px 0px;
  gap: 0px 200px;
}
.datosRecoger .datos__container .datos div {
  display: flex;
  flex-direction: column;
}
.datosRecoger .datos__container .datos input, .datosRecoger .datos__container .datos main .contacto .remitente .datos1 textarea, main .contacto .remitente .datos1 .datosRecoger .datos__container .datos textarea {
  -webkit-margin-before: 8px;
          margin-block-start: 8px;
  min-height: 40px;
  max-height: 40px;
  border-radius: 0.2rem;
  border: none;
  max-width: 100%;
}
.datosRecoger .datos__container .datos label {
  width: 100%;
  -webkit-margin-end: 32px;
          margin-inline-end: 32px;
}
.datosRecoger .datos__container .datos__tipoPago {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
}
.datosRecoger .datos__container .datos__tipoPago div {
  margin: 8px;
}
.datosRecoger .datos__container .datos__tipoPago label {
  display: inline-block;
  width: 160px;
}

/* FIN PAGINA RECOGER */
/* INICIO PAGINA COTIZAR */
main {
  width: 100%;
  height: 100%;
}
main .cotizarEnvio {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 90%;
  margin: 0 auto;
  box-shadow: 0px 0px 4px rgba(147, 147, 147, 0.4);
  -webkit-margin-before: 1rem;
          margin-block-start: 1rem;
  border-radius: 1rem;
}
main .cotizarEnvio .opcionEnvio__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  -webkit-margin-before: 16px;
          margin-block-start: 16px;
  border-bottom: 1px solid rgba(54, 54, 54, 0.2);
}
main .cotizarEnvio .opcionEnvio__container .opcionEnvio__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  margin: 8px;
  padding: 8px;
  border-radius: 1rem;
  box-shadow: 0px 0px 4px rgba(147, 147, 147, 0.4);
}
main .cotizarEnvio .cotizarEnvio__wraper {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}
main .cotizarEnvio .cotizarEnvio__wraper .cotizarEnvio__container {
  width: 90%;
  margin: 24px auto;
}
main .cotizarEnvio .cotizarEnvio__wraper .cotizarEnvio__container .cotizarEnvio__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  gap: 24px;
}
main .cotizarEnvio .cotizarEnvio__wraper .cotizarEnvio__container .cotizarEnvio__items .cotizarEnvio__item {
  display: flex;
  justify-content: start;
}
main .cotizarEnvio .cotizarEnvio__wraper .cotizarEnvio__container .cotizarEnvio__items .cotizarEnvio__item div {
  width: 100%;
}
main .cotizarEnvio .cotizarEnvio__wraper .cotizarEnvio__container .cotizarEnvio__items .cotizarEnvio__item div input, main .cotizarEnvio .cotizarEnvio__wraper .cotizarEnvio__container .cotizarEnvio__items .cotizarEnvio__item div .contacto .remitente .datos1 textarea, main .contacto .remitente .datos1 .cotizarEnvio .cotizarEnvio__wraper .cotizarEnvio__container .cotizarEnvio__items .cotizarEnvio__item div textarea {
  width: 100%;
  height: 40px;
  margin: 16px 0 24px;
  border: none;
  box-shadow: 0px 0px 4px rgba(147, 147, 147, 0.4);
  padding-left: 16px;
}
main .cotizarEnvio .cotizarEnvio__wraper .formaPago, main .cotizarEnvio .cotizarEnvio__wraper .calcular, main .cotizarEnvio .cotizarEnvio__wraper .declarar, main .cotizarEnvio .cotizarEnvio__wraper .valDeclara, main .cotizarEnvio .cotizarEnvio__wraper .peso {
  width: 90%;
  margin: 12px auto;
}
main .cotizarEnvio .cotizarEnvio__wraper .formaPago__titulo {
  -webkit-margin-after: 8px;
          margin-block-end: 8px;
}
main .cotizarEnvio .cotizarEnvio__wraper .formaPago input, main .cotizarEnvio .cotizarEnvio__wraper .formaPago .contacto .remitente .datos1 textarea, main .contacto .remitente .datos1 .cotizarEnvio .cotizarEnvio__wraper .formaPago textarea, main .cotizarEnvio .cotizarEnvio__wraper .calcular input, main .cotizarEnvio .cotizarEnvio__wraper .calcular .contacto .remitente .datos1 textarea, main .contacto .remitente .datos1 .cotizarEnvio .cotizarEnvio__wraper .calcular textarea, main .cotizarEnvio .cotizarEnvio__wraper .declarar input, main .cotizarEnvio .cotizarEnvio__wraper .declarar .contacto .remitente .datos1 textarea, main .contacto .remitente .datos1 .cotizarEnvio .cotizarEnvio__wraper .declarar textarea, main .cotizarEnvio .cotizarEnvio__wraper .valDeclara input, main .cotizarEnvio .cotizarEnvio__wraper .valDeclara .contacto .remitente .datos1 textarea, main .contacto .remitente .datos1 .cotizarEnvio .cotizarEnvio__wraper .valDeclara textarea, main .cotizarEnvio .cotizarEnvio__wraper .peso input, main .cotizarEnvio .cotizarEnvio__wraper .peso .contacto .remitente .datos1 textarea, main .contacto .remitente .datos1 .cotizarEnvio .cotizarEnvio__wraper .peso textarea {
  margin-right: 16px;
}
main .cotizarEnvio .cotizarEnvio__wraper .peso__input, main .cotizarEnvio .cotizarEnvio__wraper .valDeclara__input {
  display: flex;
  height: 40px;
  align-items: center;
  gap: 24px;
}
main .cotizarEnvio .cotizarEnvio__wraper .peso__input input, main .cotizarEnvio .cotizarEnvio__wraper .peso__input .contacto .remitente .datos1 textarea, main .contacto .remitente .datos1 .cotizarEnvio .cotizarEnvio__wraper .peso__input textarea, main .cotizarEnvio .cotizarEnvio__wraper .valDeclara__input input, main .cotizarEnvio .cotizarEnvio__wraper .valDeclara__input .contacto .remitente .datos1 textarea, main .contacto .remitente .datos1 .cotizarEnvio .cotizarEnvio__wraper .valDeclara__input textarea {
  -webkit-margin-before: 8px;
          margin-block-start: 8px;
  height: 40px;
  padding-left: 16px;
}
main .cotizarEnvio .cotizarEnvio__wraper .declarar {
  display: flex;
  gap: 16px;
}
main .cotizarEnvio .cotizarEnvio__wraper .calcular {
  display: flex;
  flex-direction: column;
  -webkit-margin-after: 24px;
          margin-block-end: 24px;
  gap: 16px;
}
main .cotizarEnvio .cotizarEnvio__wraper .calcular button, main .cotizarEnvio .cotizarEnvio__wraper .calcular input, main .cotizarEnvio .cotizarEnvio__wraper .calcular .contacto .remitente .datos1 textarea, main .contacto .remitente .datos1 .cotizarEnvio .cotizarEnvio__wraper .calcular textarea {
  height: 40px;
  max-width: 100px;
}

/* FIN PAGINA COTIZAR */
/* INICIO PAGINA CONTACTO */
main {
  width: 100%;
  height: 100%;
  color: rgb(64, 64, 64);
}
main .contacto {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 40px auto;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  box-shadow: 0px 0px 4px rgba(147, 147, 147, 0.4);
  border-radius: 1rem;
  padding: 24px;
  gap: 40px;
}
main .contacto .remitente {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  gap: 24px;
}
main .contacto .remitente .datos1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
}
main .contacto .remitente .datos1 input, main .contacto .remitente .datos1 textarea {
  height: 40px;
  -webkit-margin-before: 8px;
          margin-block-start: 8px;
  -webkit-margin-after: 24px;
          margin-block-end: 24px;
  box-shadow: 0px 0px 4px rgba(147, 147, 147, 0.4);
  border: none;
  border-radius: 0.5rem;
}
main .contacto .remitente .datos1 textarea {
  height: 150px;
}
main .contacto .remitente button {
  height: 40px;
  width: 100px;
  border: none;
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  background-color: rgb(255, 158, 2);
  border-radius: 0.5rem;
}
main .contacto .info {
  height: 100%;
  align-items: center;
}
main .contacto .info ul {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: baseline;
  justify-content: center;
  list-style: none;
}
main .contacto .info ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  gap: 24px;
}
main .contacto .info ul li img {
  width: 60px;
}/*# sourceMappingURL=main.css.map */